h1{
    color: black
    font-size:xx-large
    font-family:'Covered By Your Grace', cursive;
}
body {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/b/ba/Valknut.svg/1200px-Valknut.svg.png");
    background-image: cover;
    background-repeat: no-repeat;
margin-left: 750px;
color: grey
}
